*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.blender{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
  height: 500px;
  background-image: url('./imgs/blenderOff.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blenderActive{
  background-image: url('./imgs/blenderOn.gif');
}

.blenderBtn{
  width: 70px;
  height: 70px;
  margin: 350px auto 0px;
}